# Data Science Tools and Ecosystem

**Objectives:**

- List popular languages for Data Science.
- Identify key libraries used in Data Science.
- Explore development environment tools for Data Science.
- Understand basic arithmetic expressions in Python.

## In this notebook, Data Science Tools and Ecostystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Scikit.learn
4. Numpy

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Spark       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [69]:
# This a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [70]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author 
Danny Taormina